require './db-conn'

<table>
  <thead>
    <th>Name</th>
    <th>Price</th>
  </thead>
  <tbody>
    <% items.each do |item| %>
    <tr>
      <form action="/items/delete/<%= item.id%>" method="get">
        <td>  <%= item.name %> </td>
        <td> <%= item.price %> </td>
        <td><a href="/items/show/<%= item.id%>"> Show </a></td>
        <td><a href="/items/edit/<%= item.id%>"> Edit </a></td>
        <td><button type="submit" name="Delete">Delete</button></td>
      </form>
    </tr>
    <% end %>
  </tbody>
</table>

<a href="/items/new">New Item</a>
