<body>
  <h1>Data <%= item.name %> </h1>
  <table>
    <thead>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
      <th>Category</th>
    </thead>
    <tbody>
      <tr>
        <td> <%= item.id %> </td>
        <td> <%= item.name %> </td>
        <td> <%= item.price %> </td>
        <td> <%= item.category %> </td>
      </tr>
    </tbody>
  </table>

  <a href="/">Back to Items Menu</a>
</body>
